### macOS ###
.DS_Store

### Common ###
LICENSE
README.md

### Git ###
.git/
.gitignore

### GitHub ###
.github/

### Docker ###
Dockerfile

### Python ###
__pycache__/
*.py[cod]

# Environments
.venv/

# pyenv
.python-version

# build
dist/

### JetBrains ###
.idea/
.env
